.clicked{
    width: 150px;
    height: 150px;
    padding: 20px;
    background-color: lightgray;
}
#square{
    width: 100px;
    height: 100px;
    background: red;
    color: red;
}
.testing{
    width: 100px;
    height: 100px;
    color: rgb(255, 0, 0);
    position: relative;
    left: 50px;
    top: 50px;
}