body{
    background-image: url(./blob-scene-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
  }
  li {
    float: right;
  }
  
  nav a {
    display: block;
    padding: 8px;
    background-color: orange;
    text-decoration: none;
    color: black;
  }
  a:hover {
    background-color: #9fe7f5;
    font-size: 18px;
  }
 