.flex-container{
   background-color: blue;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   height: 300px;
   align-items: flex-end;
}
.flex-container >div{
   padding: 20px;
   margin: 15px;
   color: white;
   border: 1px  solid white; 
}